<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	 <link rel="icon" href="favicon.ico" type="image/x-icon" />  
	</head>
  <body>
     <h1>Autor: Jos&eacute; Mar&iacute;a Cabrero Muriel</h1>
                <img src="/images/chema.jpg" alt="Mountain View" style="width:125px;height:125px;">
  </body>
</html>
